[submodule "packages/html-viewer"]
	path = packages/html-viewer
	url = https://github.com/wenonly/html-viewer.git
[submodule "packages/json2ts"]
	path = packages/json2ts
	url = https://github.com/wenonly/json2ts.git
[submodule "packages/jsonp-data"]
	path = packages/jsonp-data
	url = https://github.com/wenonly/jsonp-data.git
[submodule ".vitepress/theme/assets/works"]
	path = .vitepress/theme/assets/works
	url = https://github.com/wenonly/experience.git
[submodule "resume"]
	path = resume
	url = https://github.com/wenonly/resume.git
